/*Modal's shared classes*/
.package-modal {
    color: #292D32;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.package-modal, .package-modal__header div {
    gap: 10px;
}

.package-modal button {
    all: unset;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2px;
}

.package-modal__header {
    padding: 24px 16px;
    border-bottom: 1px solid #E3EBF4;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px
}

.package-modal__header img {
    width: 24px;
    height: 24px;
}

.modal-plus-icon {
    border-radius: 6px;
    background: #6C70DC;
    padding: 10px;
}

.scroll-wrapper {
    height: calc(100vh - 176px);
    overflow: auto;
}

.package-modal-body {
    margin: 0 32px;
}

.package-modal .booknetic-primary-btn {
    background-color: #6C70DC;
    color: #fff;
    gap: 10px;
}

.package-modal .booknetic-primary-btn:hover {
    filter: brightness(90%);
}

.modal-btn-container {
    gap: 6px;
    flex-wrap: wrap;
}

.modal-btn-container button {
    padding: 10px 16px;
}

.package-modal .booknetic-secondary-btn {
    border: 1px solid #E2EAF3;
    background: #FFF;
    color: #828F9A;
}

.package-modal .booknetic-secondary-btn:hover:not(.disabled) {
    background-color: #F9FAFB;
}

.package-remove-btn.disabled {
    cursor: not-allowed;
}

.package-modal footer {
    border-top: 1px solid #E3EBF4;
    gap: 10px;
    padding: 16px 32px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.10);
}

.package-modal footer button {
    padding: 12px 32px;
    text-wrap: nowrap;
}

.selected-product-image {
    width: 80px;
    height: 80px;
}

.selected-product-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.package-modal-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-bottom: 8px;
    display: flex;
    gap: 5px;
}

.package-modal-label span {
    color: #FA3E6E;
}

.hide-upload-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.package-image {
    gap: 16px;
    margin-block: 24px;
}

.selected-package-image {
    width: 80px;
    height: 80px;
    min-width: 80px;
}

.selected-package-image-text {
    padding: 0;
    margin-bottom: 6px;
}

.selected-package-image img {
    width: 100%;
}

.package-form-element {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #E3EBF4;
    padding: 13px 16px;
    font-size: 14px;
}

.package-form-container {
    gap: 24px !important;
}

.package-form-element::placeholder {
    color: #8895A0;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.package-form-element:focus {
    border: thin solid #ddd;
    outline: none;
}

.package-label-desc {
    color: #292D32;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.invoice-icon
{
    cursor: pointer;
}

.package-progressbar
{
    position: relative;
    width: 100%;
    height: 4px;
    background: rgba(83, 213, 108, 0.10);
    border-radius: 999px;
    margin-top: 4px;
}
.package-progressbar > span
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #53D56C;
    border-radius: 999px;
}

div:has(> .package-progressbar)
{
    cursor: pointer;
}

@media (width <= 768px) {
    .scroll-wrapper {
        height: calc(100vh - 190px);
    }
}

@media (width <= 361px) {
    .package-modal footer {
        flex-wrap: wrap;
    }
}